RewriteEngine On
Options All -Indexes

#prevenir acceso al archivo .htaccess
<files .htaccess>
order allow,deny
deny from all
</files>

# camuflar archivos PHP como NAS, se puede ocultar la versión 
#de php también, etc.
AddType application/x-httpd-php .nas

# URL amigable - captura todas las solicitudes y las redirige a index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]
