<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Color Ink </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../CSS/index.css">
     <link rel="icon" href="../IMG/LOGO.png" type="image/png">
</head>
<body>
    <header class="main">
        <i class="fa-solid fa-user user-icon" onclick="resetBarPosition()"></i>
        <div class="icon-bar-container" id="iconBarContainer">
            <div class="icon-bar">
                <a href="index.html"><i class="fa-solid fa-house" onclick="resetBarPosition()" title="Inicio"></i></a>
                <a href="pedidos.html"><i class="fa-solid fa-truck-ramp-box" onclick="moveBar()" title="Pedidos"></i></a>
                <a href="inve.html"><i class="fa-solid fa-truck" onclick="moveBar()" title="Inventario"></i></a>
                <a href=""><i class="fa-solid fa-credit-card" onclick="moveBar()" title="Gestión de Usuarios"></i></a>
            </div>
        </div>
      <a href="login.html"> <i class="fa-solid fa-arrow-right user-icon" title="Salir" ></i></a> 
    </header>

    <main class="login-section">
        <h1>COLOR INK</h1>
        <img src="../IMG/COLOR INK.gif" alt="Color Ink Logo"> <!-- Placeholder para el logo -->
    </main>
<script src="../JS/index.js"></script>
<script src="../JS/sidebar.js"></script>
</body>
</html>